<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>주 소 록</h2>
    <!--{'items':items, 'count':len(items)}-->
    <hr>
    <a href="/">Home</a>, 현재 등록된 주소록 수 : {{count}}, <a href="write">주소록 추가</a>
    <hr>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전화</th>
            <th>이메일</th>
            <th>주소</th>
        </tr>
        {% for row in items %}
        <tr>
            <td>{{row.idx}}</td>
            <td><a href="detail?idx={{row.idx}}">{{row.name}}</a></td>
            <td>{{row.tel}}</td>
            <td>{{row.email}}</td>
            <td>{{row.address}}</td>
        </tr>
        {% endfor %}
</table>
</body>
</html>